In [151]:
import pandas as pd
import numpy as np

In [152]:
xls = pd.ExcelFile('負面新聞.xlsm')
df_2020 = xls.parse('2020年')
df_2019 = xls.parse('2019年')
df_2018 = xls.parse('2018年')
df_2017 = xls.parse('2017年')
df_2015 = xls.parse('2015年')
df_2020.columns = ['姓名','重大新聞','新聞標題及備註','相關連結','domain_name']
df_2019.columns = ['姓名','重大新聞','新聞標題及備註','相關連結','domain_name']
df_2018.columns = ['姓名','重大新聞','新聞標題及備註','相關連結','domain_name']
df_2017.columns = ['姓名','重大新聞','新聞標題及備註','相關連結','domain_name']
df_2015.columns = ['姓名','重大新聞','新聞標題及備註','相關連結','domain_name']

In [153]:
df_2020.drop(index=[0,1,2],inplace=True)
df_2020 = df_2020.reset_index()
df_2020.drop(columns=['index'],inplace=True)
df_2019.drop(index=[0,1,2],inplace=True)
df_2019 = df_2019.reset_index()
df_2019.drop(columns=['index'],inplace=True)
df_2018.drop(index=[0,1,2],inplace=True)
df_2018 = df_2018.reset_index()
df_2018.drop(columns=['index'],inplace=True)
df_2017.drop(index=[0,1,2],inplace=True)
df_2017 = df_2017.reset_index()
df_2017.drop(columns=['index'],inplace=True)
df_2015.drop(index=[0,1,2],inplace=True)
df_2015 = df_2015.reset_index()
df_2015.drop(columns=['index'],inplace=True)

In [154]:
df_all = pd.concat((df_2020,df_2019,df_2018,df_2017,df_2015),axis=0)

In [155]:
df_all.groupby('domain_name')['domain_name'].count().reset_index(name='count').sort_values(['count'], ascending=False)

                        domain_name  count
34                  news.ltn.com.tw    751
5                    chinatimes.com    410
53                          udn.com    393
48                tw.appledaily.com    365
50           tw.news.appledaily.com    148
27                     m.ltn.com.tw    137
51                tw.news.yahoo.com    124
17                      ettoday.net    112
8                        cna.com.tw     68
29                    money.udn.com     62
13                    ec.ltn.com.tw     57
42                         setn.com     34
36                 news.tvbs.com.tw     26
28                   mirrormedia.mg     25
54                       upmedia.mg     15
38                   nextmag.com.tw     15
0                       .ltn.com.tw     15
4                       cdns.com.tw     15
47                    today.line.me     10
37                       newtalk.tw      9
9                               com      9
52               tw.stock.yahoo.com      9
10                       ctwant.com      7
39                      nownews.com      7
31                  news.ebc.net.tw      7
43                         storm.mg      7
11                        cw.com.tw      6
19              features.ltn.com.tw      6
24                         hk01.com      5
23                         hk.on.cc      5
41                    ppledaily.com      5
12                    e-info.org.tw      5
45                  times.hinet.net      4
3              businesstoday.com.tw      4
2                         anntw.com      4
7                      city.udn.com      4
16                estate.ltn.com.tw      4
25                house.ettoday.net      4
15                   epochtimes.com      4
26                    ksnews.com.tw      4
21                   ftvnews.com.tw      3
55                    video.udn.com      2
20                   fnc.ebc.net.tw      2
32                  news.ftv.com.tw      2
30                  news.cts.com.tw      2
14                   ent.ltn.com.tw      2
1                    agriharvest.tw      2
6                        cib.gov.tw      1
22                gotv.ctitv.com.tw      1
18                    ews.yahoo.com      1
49  tw.entertainment.appledaily.com      1
35               news.pchome.com.tw      1
44                taiwannews.com.tw      1
40                    peoplenews.tw      1
33             news.housefun.com.tw      1
46                   tock.yahoo.com      1